body {
  height: 100%;
  -webkit-font-smoothing: antialiased;

  
 
  
}
.App{
  position: relative; /* Make the body a positioning context */

  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the pseudo-element behind the content */
    background: url("./background/bg.jpg") left top no-repeat;
    background-size: cover; /* You can customize the background-size as needed */
    filter: brightness(50%); /* Adjust the brightness level */
  }
}




  /* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Thumb color */
  border-radius: 5px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color:#d82a4e; /* Thumb color on hover */
 
}

  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  * {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
  }

  .wrapper {
    
    height:100vh;
    width:100%;
   display: flex;
   align-items: center;
    justify-content: center;
     
  }
  
  .login-box {
    
    width: 530px;
    height: 630px;
    
    background: rgba(0, 0, 0, 0.24);
     display: flex;
    justify-content: center;
    align-items: center;
    border:0.5px solid black;
   
  }
  .style-icon{
    position: absolute;
    color:white;
    top:8%;
    right:25%;
    
  
  }
  .laptop{
    font-size: 6em;
  }
  .wheel1{
    font-size: 3em;
    position: absolute;
    animation: rotateWheel 5s linear infinite; 
    color: #d82a4e;
  }
  .wheel2{
    font-size: 2em;
    animation: rotateWheel2 5s linear infinite; 
    position: absolute;
    top:45%;
    
  }

 


  .site-logo{
    position: relative;
    
    left:5%;
    color:white;
   
    
  
  }
  
  
  @keyframes rotateWheel {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateWheel2 {
  from {
      transform: rotate(360deg);
  }
  to {
      transform: rotate(0deg);
  }
}
  .login-img{
    position:absolute;
    left:15%;
    width:350px;
    top:-1%;
  }
  .login-box h3 {
    font-size: 25px;
    color:white;
    text-align:center;
    font-weight: 600;
  }
  .input-box {
    position:relative;
    width:380px;
    margin:30px 0;
    border-bottom:1px solid #fff;
    
  }
  
  .input-box input {
    width:100%;
    height:40px;
    outline:none;
    font-size:1.3em;
    font-weight: 600;
    padding:0 35px 0 5px;
    border-radius: 5px;
    background: transparent;
    color: white;
    border:none;
  }
  
  .remember-forgot {
    margin:10px 0 20px;
    font-size:1em;
     display:flex;
    justify-content:space-between;
  }
  
  .remember-forgot .link{
    color:white;
    text-decoration:none;
  }
  .remember-forgot .link:hover {
    text-decoration:underline;
  }
  .login-box button {
    width:100%;
    height:40px;
    background-color:#d82a4e;
    border:none;
    border-radius:40px;
    cursor:pointer;
    font-size:1em;
    color:#ffff;
    font-weight:500;
  }
  .register-link {
    font-size:1.1em;
   
    text-align:center;
    margin:25px 0 10px;
  }
  .register-link .link{
    color:white;
    text-decoration:none;
    font-weight:600;
  }
  .register-link .link:hover {
    text-decoration:underline;
  }

 

  footer{
    background:rgba(0, 0, 0, 0.325);
    color:white;
    padding: 10px;
  }
 

  .footer-title{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 20px;
    margin: 10px;
 
  }

  .footer-title h3{
    font-weight: 600;
    text-align: center;
  
  }
  .widget{
    height:250px;
  
   

  }

  .widget .text-ul{
    list-style: none;
    text-align: center;
    font-size: 17px;
  
    overflow: hidden;
    
  }
  .Copywrite{
    
    height:80px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .Copywrite p {
    color: white;
    font-size: 22px;
    text-align: justify;
  }
  .widget .Icon-ul{
    
    font-size: 24px;
    list-style: none;
    
  }
  .footer-icon{
  width: 60px;
 text-decoration: none;
 color: white;
 margin-left: 10px;;
    
  }
  @media (max-width:1024px) {
    .login-box {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 20px;
      height:600px;
      background: transparent;
      top:20%;
      left:0;
      border-radius:0;
      border:none;

    }
   
    .laptop {
      font-size: 2em;;
    }

    .wheel1{
      font-size: 0.9em;
    }
    .wheel2{
      font-size: 0.6em;
    }
    
    .input-box {
      width:100%;
      

    }
    .site-logo{
      width:100px;
    }
    .style-icon{
      top:5%;
      right:20%;
    }
    .login-img{
      top:1.5%;
      left:6%;
      width:130px;
    }
    .input-box input{

      font-size: 0.7rem;

    }
    .login-box h3{
      font-size: 17px;
    }
    .remember-forgot{
      font-size: 0.5em;
    }
    .register-link{
      font-size: 0.5em;
    }
    .login-box button{
      font-size: 0.8em;
      height:30px;
    }
    .footer-title{
      flex-direction: column;
      justify-content: center;
    }
    .widget{
      height:140px;
  
      text-align: center;

    }
      .widget h3{
      font-size: 12px;
      text-align: center;
     
      
    }
    .footer-title .text-ul{
      font-size: 11px;
  
    }
    .Copywrite p{
      font-size: 12px;;
    }
    .widget .Icon-ul{
      font-size: 12px;
      text-align: center;
      
      
    }


  }