body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #EEF0F2;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Montserrat', sans-serif;
}
.wrapper {
  
  height:100vh;
  width:100%;
  background: url("./background/bg.jpg") no-repeat;
  background-size:cover;
  background-position:center;
  
}

.login-box {
  position: relative;
  width: 400px;
  height: 500px;
  top:10%;
  left:10%;
  background:  #ffff;
   display: flex;
  justify-content: center;
  align-items: center;
  border:0.5px solid black;
 
}
.login-box h3 {
  font-size: 25px;
  color:black;
  text-align:center;
}
.input-box {
  position:relative;
  width:310px;
  margin:30px 0;
  border-bottom:1px solid #fff;
}

.input-box input {
  width:100%;
  height:40px;
  border:0.5px solid black;
  outline:none;
  font-size:1em;
  padding:0 35px 0 5px;
  border-radius: 5px;
}

.remember-forgot {
  margin:-15px 0 15px;
  font-size:.9em;
   display:flex;
  justify-content:space-between;
}

.remember-forgot .link{
  color:#24BA9F;
  text-decoration:none;
}
.remember-forgot .link:hover {
  text-decoration:underline;
}
.login-box button {
  width:100%;
  height:40px;
  background-color:#24BA9F;
  border:none;
  border-radius:40px;
  cursor:pointer;
  font-size:1em;
  color:#ffff;
  font-weight:500;
}
.register-link {
  font-size:.9em;
 
  text-align:center;
  margin:25px 0 10px;
}
.register-link .link{
  color:black;
  text-decoration:none;
  font-weight:600;
}
.register-link .link:hover {
  text-decoration:underline;
}
@media (max-width:400px) {
  .login-box {
    width:100%;
    height:80vh;
    border:none;
    border-radius:0;
  }
  .input-box {
    width:270px;
  }
}

