@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
.nav.menu-visible .mobile-toggle{
  display: none;
}

.mobile-toggle {
  display: block;
  cursor: pointer;
  position: fixed;
  padding: 10px;
  color:white;

}


.nav {
  position:fixed;
  top: 0;
  left: 0;
  height: 35px;
  width: 100%; 
  background-color:#7BC4B2;
  
  justify-content: space-between;
  overflow: hidden;
  z-index: 2;
  
}

.nav.menu-visible {
  width: 180px;
  height:100%;
  background:white;
 position: fixed;
  
}

.navheading {
  color:black;
  padding: 10px;
  position:absolute;
  top:10%;
  box-shadow: 0px 3px  #7BC4B2;
  height:80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbutton {
  
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  
  width: 100%;
  padding-top: 20px; 
  position: relative;
  top:25%;
 
}

.navlink {
  color:black;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 5px;
  width:130px;

  
}

/* Outlet styles */
.outlet-box {

  
  background-color: #f0f0f0;
  height: 100%;
}








.search-container {
 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left:26%;

}
.Search-Button{
  border:none;
  height:30px;
  width:30px;
  background:white;
  outline: none;


}
.Search-Button:hover{
  transform: scale(0.9);
}
.Search-Input{
  border:none;
  outline: none;
  padding: 10px;
  width:150px;
  height:30px;

}

.student-card {
  padding: 15px;

  background-color: white;
  color: black;
  width: 360px;
  border-radius: 5px;
  


}



.record {
  display: flex;
  justify-content: space-between;
  align-items: center;


}
.Add-box{
  background: white;
  position: fixed;
  top:0%;
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Add-box h3{
  position: relative;
  left:34%;
  margin-bottom: 10px;
}

.Add-box input{
  margin:5px;
  padding: 5px;
  width:340px;
  height:35px;
  outline: none;
  border: 1px solid #ccc;


}
.Input-box{
  display: flex;
  align-items: center;
  justify-content: center;
  border:0.5px solid black;
  width:600px;
  height:550px;
  


}
.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 250px;
  height: 50px;

  font-weight: 700;
  background: #7BC4B2;
  color: aliceblue;

}

.body {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 250px;
  height: 50px;

}

.action-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 8px;
}

.edit-button ,.delete-button{
  text-decoration: none;
  border-radius: 2px;
  width: 60px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: white;
  vertical-align: center;
  font-size: 12px;

}
.edit-button{
  background: #7b7cc4;
}
.delete-button {
  
  background-color: red;
}
.Date label {
  font-size: 13px;
  margin-bottom: 8px;
  margin-left: 5px;
  color: #333;
}
.Date input{
  width: 257px;
  padding: 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background: white;
}

.Select-box {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.Select-box select{
  width: 100%;
  padding: 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
select option{
  font-size: 14px;
  background-color:white;
  color: #333;
}
.Addbutton-box {
  text-align: center;
  margin-top: 20px;
}

.Addbutton-box button {
  padding: 8px 16px;
  font-size: 11px;
  background-color:#7BC4B2; /* Green background color */
  color: white; /* White text color */
  border: none; /* Remove borders */
  border-radius: 4px; /* Optional: Add rounded corners */
  cursor: pointer; /* Add cursor pointer on hover */
}

.Addbutton-box button:hover {
  background-color:#07a57e; /* Darker green on hover */
}
.detailbutton {
  padding: 10px;
  font-size: 11px;
  color: #7BC4B2;
  background-color:white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
  text-decoration: none;
  width:100px;
  height: 38px;
  position: relative;
  left:2%;
  top: 25%;
  
 
}
.detailbutton:hover{
  transform: scale(0.9);
}


.Dash-heading {
  background: #7BC4B2;
  height: 130px;
  width: 100%;
  color: white;
  padding: 20px;
  margin-top: 10px;
  overflow: hidden;
}

.Details{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 20px;
}

.Detail-box {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  margin-left: 30px;
  gap: 20px;





}

.DashHeadname {
  font-size: 20px;
  margin-left: 30px;
  padding: 5px;
  letter-spacing: 2px;
}

.Dashname {
  text-transform: capitalize;
  margin-left: 30px;
  padding: 5px;
  
  letter-spacing: 2px;
}

.homeContainer {
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  width: 100%;
  

}

.TeacherhomeContainer {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  
  gap: 0px;
}



.Null-details {
  position: fixed;
  left: 45%;
  font-weight: 600;


}

.total {
  background: #ffff;

  margin: 20px;
  width: 300px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border-radius: 5px;
}

.totalstudent {
  background: #FFFF;
  margin: 20px;
  width: 600px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
}

.Number {
  font-size: 28px;
  font-weight: 1000;
}


.ModelBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow:
    1px 1px 0 0 #7BC4B2,
    0 1px 1px 1px #7BC4B2,
    -1px 0 0 0 #7BC4B2,
    0 -1px 0 0 #7BC4B2;
  width: 270px;
  height: 150px;
  position: absolute;
  left: 40%;

}

.ModelBox p {
  margin-top: 15px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  ;
}

.Model-Button {
  width: 60px;
  height: 30px;
  font-size: 14px;
  margin-left: 10px;
}

@media (max-width: 1024px) {
  

 

 
  .detailbutton{
    width:80px;
    height:27px;
    font-size: 10px;
    padding: 7.5px;
    left:9%;

  }
  .Detail-box {

    grid-template-columns: 1fr;

  }
  .Input-box{
    border: none;
  }
  .homeContainer {

    grid-template-columns: 1fr;
    gap: 10px;
    left: 0;

  }
  .student-card{
    width:300px;
    height:100%;
    font-size: 12px;
    
    }
    .head{
      width:200px;
      height:30px;
    }
    .body{
      height: 30px;
    }
  .TeacherhomeContainer {

    grid-template-columns: 1fr;
    /* Use 1fr instead of 0fr */
    gap: 10px;
    left: 0;
  }

  .totalstudent {

    width: 450px;

  }
  .edit-button,.delete-button{
    height:30px;
    width:50px;
    font-size: 10px;
  }
  .Search-Input{
    width:100px;
    height:22px;
    
  }
  .Search-Button{
    height:22px;
    width: 22px;
  }
  
  
  .mobile-toggle {
    display: block;
    color:white;
  }

  .menu-visible .navbutton {
    display: flex;
    
  }
  .totalstudent{
    display: none;
  }


}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
}