@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

.clock-box{

  width: 130px;
  height: 120px;
  border-radius: 10px;;
  position:absolute;
  top:0.5%;
  left: 65%;
  background: #fff;
  box-shadow: 20px 20px 60px #00000041,
  inset -20px 60px #ffffff40;
  

}

.clock {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  
  position:absolute;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2); /* Adjusted box shadow */
  font-size: 12px; /* Adjusted font size */
  color: #444;
  text-align: center;
  background: #fff;
}

.clock::after {
  background: #aaa;
  content: "";
  width: 6px; /* Adjusted width */
  height: 6px; /* Adjusted height */
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #fff; /* Adjusted border */
}

.hour_hand {
  position: absolute;
  width: 3px; /* Adjusted width */
  height: 22px; /* Adjusted height */
  background: #222;
  top: 30%;
  left: 49%;
  transform-origin: bottom;
}

.min_hand {
  position: absolute;
  width: 2px; /* Adjusted width */
  height: 27px; /* Adjusted height */
  background: #444;
  top: 22.5%;
  left: 49%;
  transform-origin: bottom;
}

.sec_hand {
  position: absolute;
  width: 1px; /* Adjusted width */
  height: 37px; /* Adjusted height */
  background: red;
  top: 10.5%;
  left: 50%;
  transform-origin: bottom;
}

.clock span {
  position: absolute;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  font-size: 10px; /* Adjusted font size */
}

/* Adjusted positions for hour markers */
.twelve { top: 5px; left: 46%; }
.one { top: 10%; right: 26%; }
.eleven { top: 10%; left: 26%; }
.two { top: 25%; right: 10%; }
.three { right: 10px; top: 46%; }
.four { right: 20px; top: 67%; }
.five { right: 30px; top: 80%; }
.six { bottom: 3px; left: 46%; }
.seven { left: 30px; top: 80%; }
.eight { left: 18px; top: 67%; }
.nine { left: 10px; top: 46%; }
.ten { top: 25%; left: 10%; }
