
  .error{
    color:white;
    font-size: 12px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: -10px;
    margin-top: -10px;
    
   
  }
  .lerror{
    color:red;
    font-size:10px;
  }
  
  


  .output{
    width:800px;
    position: fixed;
    left:10%;
    
  }










